<html>
    <head>
        <style type="text/css">
            body, p, h1, h2, h3 {
                font-family: Arial, sans-serif;
            }
        </style>
    </head>
    <body>
        <h1>SaferRoute API Documentation</h1>
        <h2>API url</h2>
        <p>http://saferroute.appspot.com/api</p>
        <h2>Parameters</h2>
        <h3>hour</h3>
        <p><b>Legal values: </b>0 through 23, or "all".<br>
        <b>Usage: </b>Used to filter crimes by hour of day. Returns JSON object.<br>
        <b>Example:</b> <a href="http://saferroute.appspot.com/api?hour=all">http://saferroute.appspot.com/api?hour=all</a></p>
    </body>
</html>
