<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="utf-8">
        <title>Crime in Edinburgh: Heatmap</title>
        <style type="text/css">
            div#controls {
                position: absolute;
                top: 25px;
                left: 100px;
                width: auto;
                -webkit-transition: 300ms linear;
                -moz-transition: 300ms linear;
                -o-transition: 300ms linear;
                -ms-transition: 300ms linear;
                transition: 300ms linear;
                background-color: rgba(255, 255, 255, 0.8);
                overflow: hidden;
                -moz-border-radius: 5px;
                border-radius: 5px;
            }
        </style>
        <script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>
        <script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=visualization"></script>
        <script src="js/heatmap_data_filtered.js"></script>
        <script type="text/javascript">
            // Adding 500 Data Points
            var map, pointarray, heatmap;
            var small_controls = true;
            var geocoder;

            function init() {
                //Event listeners and stuff
                $('#change_loc').click(function () {
                    $('#searchbox').slideToggle();
                });
                $('#filter').click(function () {
                    $('#filterbox').slideToggle();
                });
                $("#controls").draggable();
                $("#location_search").click(function () {
                    $("#location_search").val("");
                });
                $("#location_search").keypress(function (event) {
                    if (event.which == 13) {
                        event.preventDefault();
                        changeCenter();
                    }
                });

                $("#location_search").click(function () {
                    $("#location_search").val("");
                });

                $("#timerange").change(function () {
                    value = $("#timerange").val();
                    loadNewData('api?hour=' + value);
                    $("timerangedisplay").innerHTML(value);
                });
///                    loadNewData('api?hour=all');

                $("#showalltimes").click(function () {
                    if ($("#showalltimes").attr('checked')) {
                        loadNewData('api?hour=all');
                    }
                });


                //End of stuff
                geocoder = new google.maps.Geocoder();
                var mapOptions = {
                    zoom: 12,
                    center: new google.maps.LatLng(55.95, -3.22),
                    mapTypeId: google.maps.MapTypeId.ROADMAP
                };

                map = new google.maps.Map(document.getElementById('map_canvas'),
                mapOptions);

                pointArray = new google.maps.MVCArray(heatmapData);

                heatmap = new google.maps.visualization.HeatmapLayer({
                    data: pointArray
                });

                heatmap.setMap(map);
                heatmap.setOptions({
                    dissipating: true
                });
                heatmap.setOptions({
                    radius: 25
                });
                heatmap.setOptions({
                    maxIntensity: 5
                });
            }

            function toggleHeatmap() {
                heatmap.setMap(heatmap.getMap() ? null : map);
            }

            function changeGradient() {
                var gradient = [
                    'rgba(0, 255, 255, 0)',
                    'rgba(0, 255, 255, 1)',
                    'rgba(0, 191, 255, 1)',
                    'rgba(0, 127, 255, 1)',
                    'rgba(0, 63, 255, 1)',
                    'rgba(0, 0, 255, 1)',
                    'rgba(0, 0, 223, 1)',
                    'rgba(0, 0, 191, 1)',
                    'rgba(0, 0, 159, 1)',
                    'rgba(0, 0, 127, 1)',
                    'rgba(63, 0, 91, 1)',
                    'rgba(127, 0, 63, 1)',
                    'rgba(191, 0, 31, 1)',
                    'rgba(255, 0, 0, 1)']
                heatmap.setOptions({
                    gradient: heatmap.get('gradient') ? null : gradient
                });
            }

            function changeOpacity() {
                heatmap.setOptions({
                    opacity: heatmap.get('opacity') ? null : 0.2
                });
            }

            function changeCenter() {
                var address = document.getElementById('location_search').value;
                geocoder.geocode({
                    'address': address
                }, function (results, status) {
                    console.log(results);
                    if (status == google.maps.GeocoderStatus.OK) {
                        map.setCenter(results[0].geometry.location);
                        var marker = new google.maps.Marker({
                            map: map,
                            position: results[0].geometry.location
                        });
                    } else {
                        alert('Geocode was not successful for the following reason: ' + status);
                    }
                });
            }

            function updateHeatmap(){
                if (!document.getElementById('showalltimes').value){
                    loadNewData('api?hour=' + document.getElementById('timerange').value);
                } else {
                    loadNewData('api?hour=all');
                }
            }

            function loadNewData(json_filename) {
                var xhr = new XMLHttpRequest();
                xhr.open("GET", json_filename, true);
                xhr.onreadystatechange = function () {
                    if (xhr.readyState == 4 && xhr.status == 200) {
                        pointArray.clear();
                        heatmapData = [];
                        heatmapDataRaw = JSON.parse(xhr.responseText);
                        for (crime in heatmapDataRaw) {
                            heatmapData.push(new google.maps.LatLng(parseFloat(heatmapDataRaw[crime].lat), parseFloat(heatmapDataRaw[crime].lon)))
                        }
                        pointArray = new google.maps.MVCArray(heatmapData);
                        heatmap = new google.maps.visualization.HeatmapLayer({
                            data: pointArray
                        });
                        heatmap.setMap(map);
                        heatmap.setOptions({
                            dissipating: true
                        });
                        heatmap.setOptions({
                            radius: 25
                        });
                        heatmap.setOptions({
                            maxIntensity: 5
                        });
                    }
                }
                xhr.send();
            }
        </script>
    </head>
    
    <body onload="init()">
        <div id="map_canvas" style="position: absolute; top: 0; right: 0; bottom: 0; left: 0;"></div>
        <div id="controls" class="ui-widget-content">
            <img style="margin-bottom: -4px;" src="data:image/gif;base64,R0lGODlhEAAQAJEAAAAAAP///8bGxv///yH5BAEAAAMALAAAAAAQABAAAAIcnI+pIsaK3pCw2rva1FVSDIaHx0GkiIantaZHAQA7" />
            <button id="change_loc">Change location</button>
            <button id="change_opa" onclick="changeOpacity()">Change opacity</button>
            <button id="filter">Filter data</button>
            <div id="searchbox" style="display: none;">
                <input type="text" value="Enter location" id="location_search" />
            </div>
            <div id="filterbox" style="display: none;">
                <input id="timerange" type="range" min=0 max=23 value=12 /><span id="timerangedisplay">0</span><br />
                <p>Show all times:</p> <input id="showalltimes" type="checkbox" checked=false />
    </body>

</html>
